.DetailsPage-Container {
    text-align: center;
}

.DetailsPage-Body {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.DetailsPage-Content {
    padding: 1rem;    
    color: white;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    min-height: 100vh;
}

