.HomePage-container{
  background-color: rgb(32, 32, 37);
  height: 100vh
}

.Header {
background-color: rgb(25, 25, 25);
text-align: center;
}

.Header h1 {
  color: red;
  font-size: 350%;
  padding: 0.5em;
  margin: 0;
}

.TVShowTitles {
  background-color: rgb(32, 32, 37);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
  padding: 0.5em
}

@media only screen and (max-width: 768px) {
  .TVShowTitles {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  }
}