.App {
  text-align: center;
}

img{
  width: 65%;
}

.TVShowTitles {
  display: flex;
}

.show {
  flex: 1;
  padding: 30px;
  border: 1px solid green;
  position: relative;
  overflow: hidden;
}

.Overlay {
  transition: bottom, ease, 1s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  background-color: green ;
  opacity: 0.5;
}

.show:hover .Overlay{
  opacity: 10;
  bottom: 0px;
}

@media only screen and (max-width: 600px) {

.TVShowTitles{
  flex-direction: column;  
  }

}