.App {
  text-align: center;
}

img{
  width: 65%;
}

.TVShowTitles {
  display: flex;
}

.show {
  flex: 1;
  padding: 30px;
  border: 1px solid green;
  position: relative;
}

.Overlay {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white ;
  opacity: .5;
}

.show:hover .Overlay{
  display: block;
}

@media only screen and (max-width: 600px) {

.TVShowTitles{
  flex-direction: column;  
  }

}